<div>
    <button type="button" class="btn btn-primary" (click)="onSuma()">+</button>
    <button type="button" class="btn btn-primary" (click)="onResta()">-</button>
    <button type="button" class="btn btn-primary" (click)="onMultiplicar()">*</button>
    <button type="button" class="btn btn-primary" (click)="onDividir()">/</button>
    <button type="button" class="btn btn-primary" (click)="onPotencia()">^</button>
    <button type="button" class="btn btn-primary" (click)="onLimpiar()">CE</button>
</div>